[user]
	name = Kurt Aadnoy
[core]
	editor = vim
	excludesfile = /Users/kurt/.gitignore
[color]
	ui = true
[push]
	default = simple
[alias]
	s = status -s
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	df = diff
